@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
   
}
body{
    font-family: Merriweather;
    
}
/* new year content style */

.banner-container{
    max-width: ; width:1300px;
    margin: 0 auto;
    border: 1px solid black;
   min-height: 550px;
   margin-top: 20px;
   border-radius: 10px;
    background-color: #00000080;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 550px;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    
}
/* start-section-style */
.start-section-container{
    width: 800px;
     height: 700px;
     margin: 0 auto;
     margin-top: 100px;
}
.start-section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: ;
}
.start-section-title h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 70px;
font-weight: 700;
margin-bottom: 30px;
}
.start-section-title p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 18px;
font-weight: 500;
}
.start-section-title h2{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 40px;
font-weight: 700;
    
}
.section-image-container{
    margin-top: 40px;
}
/* 65% content end-section */

.end-sectio-container{
     max-width:1300px;
     margin: 0 auto;
     border: 1px solid black;
    min-height: 550px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:rgb(0, 0, 0 , 0.600);
    background-image: url('../images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    
    
    
   
}
.left-side-content{
    color:  rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    width: 55%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
}
.left-side-content h1{
    font-family: Merriweather;
font-size: 64px;
font-weight: 900;
}
.left-side-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 15.5px;
font-weight: 400;
margin-top: 20px;

}
.left-side-content h3{
    margin-top: 20px;
    font-family: Inter;
font-size: 24px;
font-weight: 700px;
margin-right: 300px;
}
.right-side-content{
    height:550px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.right-side-content img{
    width: 320px;
    height: 425px;
}
/* .end-section-content{
    
   
} */

/* new-park hotel style*/
.new-park-hotel{
    max-width:1300px;
     margin: 0 auto;
    min-height: 500px;
    margin-top: 100px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.new-park-hotel h2{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
}
.new-park-hotel h2 span{
    color: red;
}
.new-park-hotel p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 25px;
font-weight: 700;
border-radius: 8px;
background-color: red;
margin-top: 80px;
width: 167px;
height: 56px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
   

/* new best offer styles */
.new-best-offer-container{
    max-width: 1300px;
    margin: 0 auto;
    border: 0 solid white;
   min-height: 430px;
   margin-top: 100px;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
}
.new-best-offer-content{
    height:430px ;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.new-best-offer-image{
    width: 33.3%;
    height: 430px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}
.new-best-offer-end-content{
    width: 33.4%;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-best-offer-content h2{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.new-best-offer-content h1{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top: 10px;
}
.new-best-offer-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 20px;
}
/* new-best-offer image style */
 .new-best-offer-img-circle{
    box-sizing: border-box;
border: 15px solid rgb(255, 0, 0);
border-radius: 50% 50% 50% 50%;
display: flex;
justify-content: center;
align-items: center;
 }

 .new-best-offer-img-circle img{
    width:390px;
height: 390px;
padding: 25px;
 }


 .new-best-offer-end-content h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
 }
 .new-best-offer-end-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 10px;
 }
 .new-best-offer-end-content-image{
    margin-top: 50px;
 }
 /* discount offer style */

 .discount-offer-container{
    width: 1320px;
height: 986px;
margin: 0 auto;
margin-top: 100px;
position: relative;
 }

 .holidays-content-title{
    width: 1320px;
height: 260px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
 }
 
 .holidays-content-title h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
 }

 .holidays-content-title h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-top: 16px;
 }
 .holidays-content-title p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 24px;
font-weight: 500;
 }
 .holidays-content-title #a{
    margin-top: 28px;

 }

 .holidays-content-title h1 span{
    color: red;

 }
 .solid-colour{
    width: 1320px;
    height: 200px;
    background-image: url('../images/Rectangle-2.png');
    background-repeat: no-repeat;
    position: absolute; 
    top: 80%;
 }

 /* discount offer end section style */

 .discout-offer-end-content{
    width: 1320px;
    margin: 0 auto;
height: 726px;
display: flex;
 }
 .left-side-discount-content{
    height:726px ;
    width: 60%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .right-side-discount-content{
    height: 726px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 .discount-image{
    display: flex;
    justify-content: center;
    align-items: center;
        width: 350px;
         height: 350px;
         margin-bottom: 200px;
         margin-top: 77px;
         margin-left: 125px;
 }
 .discount-image img{
    width: 350px;
height:350px;
 }